@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerlistnav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;

    @include respond(phone-small) {
        text-align: center;
        left: 43%;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
0 - 600px: Phone


0 - 900px: Tablet Portrait
0 - 1200px: Tablet Landscape

[1200px - 1800px] is where our normal styles apply
1800px + : Big Desktop


*/

/*
$breakpoint argument choices
- Phone
- Tab-port
- Tab-land
- Big-desktop
*/

//ORDER: Base + typography > general layout + grid > page layout > components

//1em = 16px
@mixin respond($breakpoint) {
    @if $breakpoint == phone-small {
        @media only screen and(max-width: 22.5em) { @content }; //360px
    }
    @if $breakpoint == phone {
        @media only screen and(max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == Tab-port {
        @media only screen and(max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == Tab-land {
        @media only screen and(max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == Big-desktop {
        @media only screen and(min-width: 112.5em) { @content }; //1800px
    }
}